/build
/build_v/
/build_e/
/build_ages/
/build_seasons_*/
/build_ages_*/
/build_combo_*/
/doc/
/LynnaLab/Logs/
/linkfile
/tests/*
.idea/
*.sav
*.ss1
*.ss2
*.ss3
*.ss4
*.ss5
*.ss6
*.ss7
*.ss8
*.ss9
*.7z
*.gbc
*.sn*
*.sym
*.o
*.d
.*.swp
.*.swo
.wla*
*.bak
*.pyc
